@inherits UmbracoViewPage<BlockListItem>

@{
    var row = (RTeblock)Model.Content;
    var settings = (GeneralSettings)Model.Settings;
    if(settings?.Hide?? false){ return; }
    if (row == null || row.RTeitem == null || !row.RTeitem.Any()) return; }
}

<div class="container">
    <div class="text-white text-center">
        <h1 class="font-xxl">Your questions answered</h1>
    </div>
    <div class="text-white row gap-2">  

        @foreach(var item in row.RTeitem)
        {
            var rowItem = (RTeitem)item.Content;
            var rowSettings = (GeneralSettings)item.Settings;
            if (rowSettings?.Hide ?? false) continue;

            <div class="col-12-xs col-6-lg">
                <h4 class="font-sm fw-xxl">@rowItem.RTetitle</h4>
                <p class="text-tertiary-light-6 text-hover-white leading-3">
                    @rowItem.RTedescription
                </p>
            </div>
          


        }
    </div>
</div>


